{:schema "kotoba.selfhost.sdk-contract.v0"
 :owner "kotoba/selfhost"
 :canonical-format :edn
 :oracle "sdk_contract.kotoba"
 :common-exports {"sdk-check-schema-digest" 36062
                  "project-verify-schema-digest" 55643}
 :target-exports {:macos {}
                  :ios {"ios-project-file-count" 14
                        "ios-sdk-command-digest" 19038
                        "ios-sdk-command-plan-digest" 7365}
                  :android {"android-project-file-count" 18
                            "android-gradle-command-digest" 59926
                            "android-generated-gradle-command-digest" 42097
                            "android-gradle-command-plan-digest" 39518
                            "android-generated-gradle-command-plan-digest" 49390}
                  :windows {"windows-project-file-count" 18}}}
